<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.betaversion_20">

    <application
        android:allowBackup="true"
        android:icon="@drawable/irkutsk_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/irkutsk_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetaVersion_20">
        <activity
            android:name=".History"
            android:exported="true" />
        <activity
            android:name=".EndOfLevelPeople"
            android:exported="true" />

        <service
            android:name=".BackgroundMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".LevelsActivity"
            android:exported="true" />
        <activity
            android:name=".People"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmManag" />
    </application>

</manifest>